@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --blue: #0d6efd;
  --red: #dc3545;
}

body {
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.navbar-expand-lg {
  /* background: linear-gradient(to top, #003e7d, #004a95); */
  background: linear-gradient(to right, #0046b0, #002e74);
}

.navbar-brand {
  color: var(--blue);
}

.navbar-brand:hover {
  color: var(--red);
}

.heading {
  font-weight: bolder;
}

.hr {
  margin: 20px 0 0 0;
  height: 40px;
  width: 78.5%;
  background: repeating-linear-gradient(45deg, #0d6efd, #0d6efd 30px, #dc3545 30px, #dc3545 60px)
}

figure {
 animation: Appearance 2s cubic-bezier(.1,-.6,.2,0);
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

footer {
  padding-top: 15px;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  background: linear-gradient(to right,#002e74, #0046b0);
  text-transform: uppercase;
}


.section {
  display: flex;
  justify-content: space-evenly;
}

.table {
  max-width: 1300px;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: -3px;
}